@media screen and (max-width: 700px) {
    .container-slide{
        margin: 100px 10px 0;
    }
}

.slide{
   max-width: 100%;
    height: auto;
    position: absolute;
    opacity: 1;
    transition: opacity ease-in-out 0.4s;
}

.slide.img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.active-anim{
    opacity: 1;
}

.btn-slide{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: burlywood;
    border: 1px solid rgba(34, 34,34, 0.287);
    position: absolute;
    display: flex;
}

